@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
/* Background  */
html {
  background-image: linear-gradient(to bottom right, #2f3d59, #0b1326);
  height: auto;
  font-family: "Poppins", sans-serif;
}

body {
  /* height: auto; */
  background-attachment: fixed;
  background-size: 5100px 5500px;
  background-image: linear-gradient(to bottom right, #2f3d59, #0b1326);
  font-family: "Poppins", sans-serif;
}

/* Change the black logo to white */
.invert {
  filter: brightness(0) invert(1);
}

.label{
  margin-left: 8rem !important;
}

.round-img{
  border-radius: 50%;
}

i{
  cursor: pointer;
}
/* Nav menu */
.navigation {
  background-image: linear-gradient(#09192d, #242344);
  width: 100%;
  position: sticky;
  top : 0;
  z-index: 1000;

}

.nav-item {
  list-style: none;
  position: relative;
  > a {
    color: #fff;
  }
}

/* Active Button */
.active {
  font-weight: 700;
  color: purple !important;
}
.nav-item .active::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  border-bottom: 3px solid rgb(146, 37, 146);
  height: 10px;
  width: 50%;
}

/* landing Css */
.landing-page {
  margin-top: 6rem;
}

.img-section {
  margin: auto;
}
.landing-info {
  > h1 {
    color: #fff;
    font-weight: 800;
    width: 90%;
    margin: auto;
  }
  > p {
    color: #c5c5c5;
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
  }
  > h1 > span {
    background: linear-gradient(to right, #ffa387, #731dc9);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.grid {
  display: grid;
  grid-template-columns: 25rem 41rem;
}
.landing-img,
.icons {
  flex-direction: column;
}

.exp {
  color: #c5c5c5;
}
.experience-info {
  > i {
    margin: 5px;
  }
}
.icons {
  > i {
    padding: 1rem;
  }
}
.img-info {
  margin-left: 2rem;
  > p {
    line-height: 1.5;
  }
}
.btn {
  border-radius: 50%;
}

.scroll {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.about {
  margin-top: 5rem;
  /* margin-left: 8rem; */
  display: grid;
  height: 80vh;
  grid-template-columns: 35rem 1fr;
  gap: 5rem;
}
.caption {
  font-size: 0.8rem;
}
.about-info {
  > h2 {
    font-weight: 900;
    background: linear-gradient(to right, #3b78b4, #1373d1);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.about-img {
  margin-top: 5rem;
  height: 277px !important;
  position: relative;
  padding-top: 84px;
  > img {
    position: absolute;
    top: -5rem;
    left: 2rem;
  }
  background-image: linear-gradient(#183878, #0b1326);
  /* box-shadow: 1px 2px 1px 2px rgb(0,0,0,0.5); */
  width: 16rem !important;
  border-radius: 15px;
}

.other-info {
  padding: 0;
  > p {
    font-size: small;
    line-height: 1;
  }
}

/* Recent Works */
.works {
  /* margin-left: 8rem; */
  position: relative;
  > h2 {
    font-weight: 900;
    background: linear-gradient(to right, #ff8660, #d5491d);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.glassy {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 1);
  >img{
    aspect-ratio: 3/2;
  }
}

.projects{
  margin-left: 12rem;
  height: 400px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fff; */
  position: relative;
}

.projects-items{
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  background-size: contain
}

.projects-items.active{
  opacity: 1;
  z-index: 1;
}
.card{
  cursor: pointer;
  
}

.card:hover{
 opacity: 1;
 width: 29rem !important;
 z-index: 1000;
}

.p2{
  left: 0;
  opacity: .4;
  transform: translateX(-50%);
}

.p1{
  left: 40%;
  transform: translateX(-50%);
  z-index: 1;
  /* width: 27rem !important; */
}

.p3{
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.75);
  right: 0;
  opacity: .4;
}


/* Experiences */
.experience {
  margin-top: 5rem;
  display: grid;
  >h2{
    font-weight: 900;
    background: linear-gradient(to right, #3b78b4, #1373d1);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.exp-info{
  margin-top: 2rem;
}

.exp-head{
  display: flex;
  align-items: center;
  color: #c5c5c5;

}

.exp-heading{
  font-weight: 900;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.exp-date{
  color: #8491A0;
  font-size: 0.7rem;
}

.exp-body{
  color: #8491A0;
}


/* Contact */
.contact-text{
  margin-top: 5rem;
  >h2{
    font-weight: 900;
    background: linear-gradient(to right, #FF8660, #D5491D);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.contact-label{
  font-size: 1rem;
}

.form-group{
  width: 90%;
  /* border: 1px solid #fff; */
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-box{
  position: relative;
  color: #c5c5c5;
  padding: 10px 0;
  font-size: 15px;;
  margin: 10px 0;
  /* border: 1px solid #fff; */
  >input,textarea{
    border: none;
    background-color:transparent;
    width: 100%;
    color: #8491A0;
    border-bottom: 2px solid #d5491d;
    outline: none;
    resize: none;
  }

  >span{
    position: absolute;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:valid ~ span{
  transform: translateY(-20px);
  font-size: 12px;
  color: #d5491d;
}

.contact-btn{
  margin-top: 3rem;
  color: #fff;
  padding: 10px;
  background-color: #D5491D;
  border: 1px solid #d5491d;
  border-radius: 10px;
}

.contact-btn:hover{
  background-color: transparent;
  color: #D5491D;
}

/* quotes */
.quote{
  position: relative;
  margin-bottom: 5rem;
}
.quote-text{
  position: absolute;
  top: 50%;
  left: 15%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >h1{
    font-weight: 900;
    background: linear-gradient(to right, #161a5e, #772828);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #c5c5c5;
    color: transparent;
  }
  >h3{
    color:#fff;
    font-weight: 900;
  }
}



/* Footer */
.footer{
  background:#191919;
  /* position: relative; */
  color: #fff;
  padding: 2rem 0;
  >h2{
    font-weight: 900;
    background: linear-gradient(to right, #3b78b4, #1373d1);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.footer-elements{
  width: 90%;
}
.footer-info{
  >p{
    color: #c5c5c5;
    font-size: 0.9rem;
    text-align: justify;
  }
}

.footer-social{
  /* position: absolute;
  right: 0;
  bottom: 25px; */
  >i{
    font-size: 1.5rem;
    color: #c5c5c5;
    /* margin: 0 1rem; */
    padding-left: 5px;
  }
}
.footer-content{
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.rights{
  color: #c5c5c5;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}
